<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{fragments/layout}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Thêm nội quy</title>
</head>
<body>
<div class="rules-create-wrapper p-4" th:fragment="content">
    <div th:if="${failed}" role="alert" th:text="${failed}" class="alert alert-danger alert-message"/>

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="/">Trang chủ</a>
            </li>
            <li class="breadcrumb-item">
                <a href="/rules">Danh sách nội quy</a>
            </li>
            <li class="breadcrumb-item active"
                aria-current="page">Tạo nội quy
            </li>
        </ol>
    </nav>

    <h3 class="rule-creation-title mt-4 mb-4">Tạo nội quy</h3>

    <div class="create-rule-container ps-md-5 pe-md-5">
        <form th:action="@{/rules/create-processing}" th:object="${rule}" enctype="multipart/form-data"
              method="post" class="d-flex flex-column" id="create-rule-form">
            <div class="col-6">
                <label for="title-input" class="mb-1">Tên tiêu đề nội quy(*)</label>
                <input type="text" class="form-control form-input rounded w-100"
                       id="title-input" name="rule-title" placeholder="Nhập tên tiêu đề"
                th:field="*{title}">
                <span th:errorclass="error" th:if="${#fields.hasErrors('title')}"
                      th:errors="*{title}"></span>
            </div>
            <select class="form-select" aria-label="Default" name="scope" th:field="*{scope.title}">
                <option selected value="Phạm vi">Phạm vi</option>
                <option th:each="scopeItem : ${scopeList}"
                        th:value="${scopeItem.title}"
                        th:text="${scopeItem.title}"
                        th:selected="${scopeItem.title eq rule.scope.title}">
                </option>
            </select>
            <span th:errorclass="error" th:if="${#fields.hasErrors('scope.title')}"
                  th:errors="*{scope.title}"></span>
            <div class="row filter-rule mt-4 mb-3">
                <div class="select-group col-6 d-flex flex-row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="startDate" class="mb-1">Thời gian có hiệu lực(*)</label>
                            <input type="datetime-local" class="form-control datepicker"
                                   id="startDate" name="startAt" value=""
                            th:field="*{startAt}">
                            <span th:errorclass="error" th:if="${#fields.hasErrors('startAt')}"
                                  th:errors="*{startAt}"></span>
                        </div>
                    </div>

                    <div class="col-md-6 ms-3">
                        <div class="form-group">
                            <label for="endDate" class="mb-1">Thời gian hết hiệu lực(*) </label>
                            <input type="datetime-local" class="form-control datepicker"
                                   id="endDate" name="endAt" value=""
                            th:field="*{endAt}">
                            <span th:errorclass="error" th:if="${#fields.hasErrors('endAt')}"
                                  th:errors="*{endAt}"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <label for="my-textarea" class="mb-1">Nhập nội dung cho nội quy(*)</label>
                <textarea id="my-textarea" th:field="*{content}" name="content"></textarea>
                <span th:errorclass="error" th:if="${#fields.hasErrors('content')}"
                      th:errors="*{content}"></span>
            </div>
            <div class="button-create-rule-wrapper d-flex flex-row justify-content-end mt-4">
                <button type="submit" class="btn btn-primary">Thêm</button>
                <a th:href="@{/rules}" class="btn btn-warning ms-3"
                   onclick="return confirm('Bạn có chắc muốn hủy?')">Hủy</a>
            </div>
        </form>
    </div>
</div>
</body>
</html>