<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
</head>
<body>
<nav th:fragment="header"
     class="header-wrapper position-fixed float-right bg-dark text-white">
    <div class="header-content h-100">
        <div class="collapse navbar-collapse h-100 d-flex ms-5"
             id="navbarSupportedContent">
            <ul class="navbar-nav d-flex flex-row ml-4">
                <li class="nav-item mx-3">
                    <a href="/school-attendance"
                       th:class="'link-school-attendance ' +
                   ${#httpServletRequest.requestURI == '/school-attendance'
                    ? 'active text-warning' : 'text-white'}">
                        Lịch đến trường</a>
                </li>
                <li class="nav-item mx-3 text-white">
                    <a href="/application-letter"
                       th:class="'link-application-letter ' +
                   ${#httpServletRequest.requestURI == '/application-letter'
                   ? 'active text-warning' : 'text-white'}">Xin phép</a>
                </li>
                <li class="nav-item mx-3 text-white"
                    sec:authorize="hasRole('ROLE_PUPIL')">
                    <a href="/score-letter"
                       th:class="'link-score-letter ' +
                   ${#httpServletRequest.requestURI == '/score-letter'
                   ? 'active text-warning' : 'text-white'}"
                       >Bảng điểm</a>
                </li>
                <li class="nav-item mx-3 text-white"
                    sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_MANAGER', 'ROLE_TEACHER')">
                    <a href="/score-addition"
                       th:class="'link-score-addition ' +
                   ${#httpServletRequest.requestURI == '/score-addition'
                   ? 'active text-warning' : 'text-white'}">Thêm điểm</a>
                </li>
                <li class="nav-item mx-3 text-white">
                    <a href="/timetable"
                       th:class="'link-timetable ' +
                   ${#httpServletRequest.requestURI == '/timetable'
                   ? 'active text-warning' : 'text-white'}">Thời khóa biểu</a>
                </li>
            </ul>
            <ul class="navbar-nav user-header-wrapper d-flex flex-row h-100 align-items-center position-fixed">
                <li class="nav-item user-image-header-wrapper mx-2 text-white">
                    <img th:src="${#authentication.getPrincipal().getImage()}"
                         alt="user image" class="rounded-circle" width="50" height="50">
                </li>
                <li class="nav-item dropdown mx-2">
                    <a href="#" class="user-header-text text-white dropdown-toggle"
                       role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false"
                       th:text="${#authentication.getPrincipal().getName()}">
                    </a>
                    <ul class="dropdown-menu mt-2" aria-labelledby="dropdownMenuLink">
                        <li><a class="dropdown-item" href="/profile">Xem trang cá nhân</a></li>
                        <li><a class="dropdown-item" href="/change-password">Đổi mật khẩu</a></li>
                        <li><a class="dropdown-item" href="/logout">Đăng xuất</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
</body>
</html>