<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.w3.org/1999/xhtml"
>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/fontawesome/css/all.min.css">
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/sidebar.css">
  <link rel="stylesheet" href="/css/header.css">
  <link rel="stylesheet" href="/css/layout.css">
  <link rel="stylesheet" href="/css/home.css">
  <link rel="stylesheet" href="/css/default.css">
  <link rel="stylesheet" href="/css/event-detail.css">
  <link rel="stylesheet" href="/css/validation-error.css">
  <script src="/js/jquery/lib/jquery.js"></script>
  <script src="/js/bootstrap/bootstrap.min.js"></script>
  <script src="/js/bootstrap/bootstrap.bundle.min.js"></script>
  <script src="/js/modal.js"></script>
  <script src="/js/alert.js"></script>
  <script src="/js/popper.js"></script>
  <script src="/tinymce/js/tinymce/tinymce.min.js"></script>
  <script src="/tinymce/js/tinymce/tinymce.min.js"></script>
  <script type="text/javascript">
    tinymce.init({
      selector: '#my-textarea'
    });
  </script>
  <title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE"></title>
</head>
<body>
<nav th:replace="fragments/header :: header"></nav>
<aside th:replace="fragments/sidebar :: aside"></aside>
<div class="content-container">
  <div th:replace="${view} :: content"></div>
</div>
</body>
</html>