<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{fragments/layout}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trang chủ</title>
    <script src="/js/jquery/lib/jquery.js"></script>
    <script src="/js/alert.js"></script>
</head>
<body>
<div class="content-wrapper mt-5 mx-3" th:fragment="content">
    <div th:if="${success}" role="alert" th:text="${success}" class="alert alert-success alert-message"></div>
    <div class="events-group">
        <div class="events-home-title">
            <h3>Sự kiện gần đây</h3>
        </div>
        <div class="container-fluid" th:if="${eventList.size() > 0}">
            <div class="d-flex flex-column">
                <a th:href="@{'/events/' + ${event.id}}"
                   class="col p-2 event-home-items"
                   th:each="event : ${eventList}">
                    <div class="event-home-card h-100 w-100 d-flex ">
                        <div class="event-image-container">
                            <img th:src="${event.image}" alt="anh su kien"
                                 class="event-home-image">
                        </div>
                        <h6 class="event-home-title text-center text-dark mt-2 fw-bold ms-2"
                            th:text="${event.title}"></h6>
                    </div>
                </a>
            </div>
        </div>
        <div class="container-fluid" th:if="${eventList.size() <= 0}">
            <h2> Không có sự kiện nào </h2>
        </div>
    </div>
</div>
</body>
</html>