.notifies-search-icon {
    right: 160px;
    cursor: pointer;
}

#form-search-notify {
    padding-right: 35px;
}

.notifies-search-button {
    height: 38px;
    width: 120px;
    margin-left: 20px;
}

.row-notify-value .title-td {
    width: 280px;
}

.row-notify-value .id-td {
    text-align: center;
}

.row-notify-value .btn-control {
    width: 30px;
}
