<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Đổi mật khẩu</title>
  <link rel="stylesheet" href="/fontawesome/css/all.min.css">
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <script src="/js/jquery/lib/jquery.js"></script>
  <script src="/js/jquery/dist/jquery.validate.min.js"></script>
  <script src="/js/change-password.js"></script>
  <script src="/js/alert.js"></script>
</head>
<body>
<div class="change-pwd-container">
  <div class="alert-container d-flex justify-content-center">
    <div th:if="${failed}" role="alert" th:text="${failed}" class="alert alert-danger alert-message w-75"></div>
  </div>
  <div class="change-pwd-content d-flex flex-column justify-content-center align-items-center w-100 h-100">
    <div class="change-pwd-card d-flex flex-column justify-content-center align-items-center rounded">
      <h3 class="mb-5">Đổi mật khẩu</h3>
      <form th:action="@{doing-change}" th:object="${account}" method="post"
      class="change-pwd-form w-100 px-5" id="changePasswordForm">
        <input th:field="*{id}" type="hidden">
        <div class="form-outline form-white mb-4 position-relative
        d-flex flex-column align-items-center">
          <label class="form-label" for="current_password"></label>
          <input type="password" class="form-control form-control-lg" id="current_password"
                 name="currentPassword" placeholder="Nhập Mật khẩu hiện tại(*)"/>
          <i class="fa-solid fa-eye-slash position-absolute mt-2" id="toggle-password1"></i>
        </div>

        <div class="form-outline form-white mb-4 position-relative
        d-flex flex-column align-items-center">
          <label class="form-label" for="new_password"></label>
          <input type="password" class="form-control form-control-lg" id="new_password"
                 name="newPassword" placeholder="Nhập mật mới(*)"/>
          <i class="fa-solid fa-eye-slash position-absolute mt-2" id="toggle-password2"></i>
        </div>

        <div class="form-outline form-white mb-4 position-relative
         d-flex flex-column align-items-center">
          <label class="form-label" for="confirm_password"></label>
          <input type="password" class="form-control form-control-lg" id="confirm_password"
                 name="confirmPassword" placeholder="Nhập lại mật khẩu mới(*)"/>
          <i class="fa-solid fa-eye-slash position-absolute mt-2" id="toggle-password3"></i>
        </div>

        <div class="btnForgotController d-flex justify-content-center">
            <button class="btn btn-outline-dark btn-lg px-5 mt-4 mx-4"
                    type="submit">Xác nhận</button>
            <a th:if="${#authentication.name.startsWith('ma')}"
               th:href="@{/admin}" onclick="return confirm('Bạn có chắc muốn hủy?')"
               class="btn btn-outline-warning btn-lg px-5 mt-4">Hủy</a>
            <a th:if="${#authentication.name.startsWith('te') || #authentication.name.startsWith('st')}"
               th:href="@{/}" onclick="return confirm('Bạn có chắc muốn hủy?')"
               class="btn btn-outline-warning btn-lg px-5 mt-4 text-dark mx-4">Hủy</a>
        </div>
      </form>
    </div>
  </div>
</div>
<style>
  .error {
    color: red;
    float: left;
    margin-right: auto;
  }

  .change-pwd-content {
    margin-top: 100px;
  }

  .change-pwd-card {
    width: 640px;
    height: 500px;
    border: darkgray solid;
  }

  #toggle-password1,
  #toggle-password2,
  #toggle-password3 {
    cursor: pointer;
    right: 20px;
    margin-top: 25px !important;
  }
</style>
</body>
</html>