<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/public-page.css">
</head>
<body>
<div class="public-page-container">
    <div class="public-page-header mx-md-5">
        <div class="public-header-wrapper d-flex h-100 align-items-center">
            <ul class="list-feature-public navbar-nav d-flex flex-row align-items-center">
                <li class="nav-item mx-md-3 d-flex">
                    <img src="/images/logo-sidebar.png" alt="logo" width="75">
                    <p class="logo-title mt-3">ADQUATECH SCHOOL</p>
                </li>
                <li class="introduce nav-item mx-md-3">
                    <a href="#" class="text-dark" role="button"
                       id="introduce-dropdown" data-bs-toggle="dropdown" aria-expanded="false">
                        Giới thiệu
                    </a>
                    <ul class="dropdown-menu mt-2" aria-labelledby="dropdownMenuLink">
                        <li>Tuyển sinh 1-</li>
                    </ul>
                </li>
                <li class="notify nav-item mx-md-3">
                    <a href="#" class="text-dark" role="button"
                       id="notify-dropdown" data-bs-toggle="dropdown" aria-expanded="false">
                        Tin tức
                    </a>
                    <ul class="dropdown-menu mt-2" aria-labelledby="dropdownMenuLink">
                        <li>Tin tức</li>
                    </ul>
                </li>
                <li class="admissions nav-item mx-md-3">
                    <a href="#" class="text-dark" role="button"
                       id="admissions-dropdown" data-bs-toggle="dropdown" aria-expanded="false">
                        Tuyển sinh
                    </a>
                    <ul class="dropdown-menu mt-2" aria-labelledby="dropdownMenuLink">
                        <li>Tuyển sinh 1-</li>
                    </ul>
                </li>
            </ul>
            <ul class="navbar-nav control-group ms-auto">
                <li class="login-btn nav-item me-md-5">
                    <a th:href="@{/login}" class="login-button btn btn-primary rounded">Đăng nhập</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="public-page-content">
        <div class="loading-section">
            <div class="loading-content">
                <img src="https://w.ladicdn.com/s2250x900/5c7362c6c417ab07e5196b05/nen-20230414042837-pmijd.jpg" alt="">
            </div>
        </div>
    </div>
    <div class="public-page-footer">

    </div>
</div>
</body>
</html>