<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{fragments/layout}"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Danh sách giáo viên</title>
  <script src="/js/jquery/lib/jquery.js"></script>
  <script src="/js/alert.js"></script>
</head>
<body>
<!--Breadcrumb-->
<div class="teachers-content-wrapper p-4" th:fragment="content">
  <div th:if="${success}" role="alert" th:text="${success}" class="alert alert-success alert-message"/>
  <div th:if="${failed}" role="alert" th:text="${failed}" class="alert alert-danger alert-message"/>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="/">Trang chủ</a>
      </li>
      <li class="breadcrumb-item active"
          aria-current="page">Danh sách giáo viên
      </li>
    </ol>
  </nav>

<!--Header of teachers page-->
  <div class="row header-teachers d-flex flex-row align-items-center mb-3 mt-5">
    <div class="col-12 position-relative">
      <form th:action="@{/teachers/search}" method="get"
            class="form-search d-flex flex-row align-items-center w-100">
        <i class="fa fa-search position-absolute search-icon"></i>
        <label for="form-search"></label>
        <input type="text" class="form-control form-input rounded w-100"
                 id="form-search" name="search" placeholder="Nhập tên giáo viên, cấp bậc, chức vụ,...">
        <button type="submit" class="btn btn-primary search-button">Tìm kiếm</button>
      </form>
    </div>
  </div>

<!--Filter-->
  <div class="row filter-teacher mt-4 mb-3">
    <div class="select-group col-12 d-flex flex-row">
      <form th:action="@{/teachers/filter}" class="row w-100" method="get">

        <!--Filter môn giáo viên dạy-->
        <select class="form-select ms-3" aria-label="Default" name="subjectName">
          <option selected>Môn dạy</option>
          <option th:each="subject : ${subjectList}"
                  th:value="${subject.name}"
                  th:text="${subject.name}"
                  th:selected="${subjectName == subject.name}">
          </option>
        </select>
        <div class="col-md-1 ms-3 filter-button">
          <button type="submit" class="btn btn-primary">Lọc</button>
        </div>
      </form>
    </div>
  </div>

<!--Addition button-->
  <div class="addition-button-wrapper d-flex flex-row justify-content-end">
    <a th:href="@{/teachers/create/}" class="btn btn-primary addition-teacher-button"
       sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_MANAGER')">Thêm giáo viên</a>
  </div>

<!--Table-->
  <h3 th:if="${currentPage.totalPages <= 0}">Không có giáo viên nào!</h3>
  <table class="table table-striped table-hover" id="teachers-table" th:if="${currentPage.totalPages > 0}">
    <thead>
      <tr>
        <th class="text-center">#</th>
        <th>Họ tên</th>
        <th>Cấp bậc</th>
        <th>Chức vụ</th>
        <th>Trình độ</th>
        <th>Môn dạy</th>
        <th>Email</th>
        <th>Số điện thoại</th>
        <th sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_MANAGER')"></th>
        <th sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_MANAGER')"></th>
      </tr>
    </thead>
    <tbody>
      <tr th:each="teacher : ${currentPage}" class="row-value">
        <td th:text="${teacher.id}" class="id-td"></td>
        <td th:text="${teacher.lastName} + ' ' + ${teacher.firstName}"></td>
        <td th:text="${teacher.rank}"></td>
        <td th:text="${teacher.position}"></td>
        <td th:text="${teacher.level}"></td>
        <td>
          <p th:each="subject : ${teacher.subjects}" th:text="${subject.name}"></p>
        </td>
        <td th:text="${teacher.email}"></td>
        <td th:text="${teacher.phone}"></td>
        <td class="button-control-upgrade" sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_MANAGER')">
          <form th:action="@{/teachers/upgrading-role}" method="post" class="upgrade-form">
            <input type="hidden" name="id" th:value="${teacher.id}" />
            <button type="submit" th:class="'btn btn-primary ' + ${teacher.roles.iterator().next().name == 'ROLE_MANAGER'
             || teacher.roles.iterator().next().name == 'ROLE_ADMIN' ?  'disabled' : '' }">Nâng quyền</button>
          </form>
        </td>
        <td class="button-control" sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_MANAGER')">
          <form th:action="@{/teachers/delete}" method="post">
          <input type="hidden" name="id" th:value="${teacher.id}" />
          <button type="submit" class="btn btn-danger"
                  onclick="return confirm('Bạn có chắc muốn xóa giáo viên này?')">Xóa</button>
          </form>
        </td>
      </tr>
    </tbody>
  </table>

<!--pagination nav for list page-->
  <nav aria-label="..." th:if="${currentPage.totalPages > 0 && type == 'list'}">
    <ul class="pagination justify-content-center">

      <!--page item fist and previous -->
      <li class="page-item">
        <a th:if="${currentPage.number > 0}"
           class="page-link"
           th:href="@{/teachers/(page=1)}"><<
        </a>
      </li>
      <li class="page-item">
        <a th:if="${currentPage.number <= 0}"
           th:class="'page-link disabled'"><<
        </a>
      </li>
      <li class="page-item">
        <a th:if="${currentPage.number > 0}"
           th:class="'page-link'"
           th:href="@{/teachers/(page=${currentPage.number})}"><
        </a>
        <a th:if="${currentPage.number <= 0}"
           th:class="'page-link disabled'"><
        </a>
      </li>

      <!--page item number page -->
      <li class="page-item" th:if="${currentPage.totalPages > 0}"
          th:each="pageNumber : ${pageNumbers}">
        <a th:if="${pageNumber <= currentPage.number - 2}"
           th:class="'page-link disabled'"
           th:text="'...'">
        </a>
        <a th:if="${pageNumber >= currentPage.number + 4}"
           th:class="'page-link disabled'"
           th:text="'...'">
        </a>
        <a th:if="${pageNumber > currentPage.number - 2
        && pageNumber < currentPage.number + 4}"
           th:href="@{/teachers/(page=${pageNumber})}"
           th:class="${pageNumber==currentPage.number + 1 ? 'active page-link' : 'page-link'}"
           th:text="${pageNumber}">
        </a>
      </li>

      <!--page item next and last -->
      <li class="page-item">
        <a th:if="${currentPage.number + 1 < currentPage.totalPages}"
           th:class="'page-link'"
           th:href="@{/teachers/(page=${currentPage.number+2})}">>
        </a>
        <a th:if="${currentPage.number + 1 >= currentPage.totalPages}"
           th:class="'page-link disabled'">>
        </a>
      </li>
      <li class="page-item">
        <a th:if="${currentPage.number + 1 < currentPage.totalPages}"
           class="page-link"
           th:href="@{/teachers/(page=${currentPage.totalPages})}">>>
        </a>
        <a th:if="${currentPage.number + 1 >= currentPage.totalPages}"
           th:class="'page-link disabled'">>>
        </a>
      </li>
    </ul>
  </nav>

<!--  Navigation for filter page-->
  <nav aria-label="..." th:if="${currentPage.totalPages > 0 && type == 'filter'}">
    <ul class="pagination justify-content-center">
      <!--page item fist and previous -->
      <li class="page-item">
        <a th:if="${currentPage.number > 0}"
           class="page-link"
           th:href="@{/teachers/filter/(page=1, subjectName=${subjectName})}"><<
        </a>
      </li>
      <li class="page-item">
        <a th:if="${currentPage.number <= 0}"
           th:class="'page-link disabled'"><<
        </a>
      </li>
      <li class="page-item">
        <a th:if="${currentPage.number > 0}"
           th:class="'page-link'"
           th:href="@{/teachers/filter/(page=${currentPage.number})}"><
        </a>
        <a th:if="${currentPage.number <= 0}"
           th:class="'page-link disabled'"><
        </a>
      </li>

      <!--page item number page -->
      <li class="page-item" th:if="${currentPage.totalPages > 0}"
          th:each="pageNumber : ${pageNumbers}">
        <a th:if="${pageNumber <= currentPage.number - 2}"
           th:class="'page-link disabled'"
           th:text="'...'">
        </a>
        <a th:if="${pageNumber >= currentPage.number + 4}"
           th:class="'page-link disabled'"
           th:text="'...'">
        </a>
        <a th:if="${pageNumber > currentPage.number - 2
        && pageNumber < currentPage.number + 4}"
           th:href="@{/teachers/filter/(page=${pageNumber},  subjectName=${subjectName})}"
           th:class="${pageNumber==currentPage.number + 1 ? 'active page-link' : 'page-link'}"
           th:text="${pageNumber}">
        </a>
      </li>

      <!--page item next and last -->
      <li class="page-item">
        <a th:if="${currentPage.number + 1 < currentPage.totalPages}"
           th:class="'page-link'"
           th:href="@{/teachers/filter/(page=${currentPage.number+2},  subjectName=${subjectName})}">>
        </a>
        <a th:if="${currentPage.number + 1 >= currentPage.totalPages}"
           th:class="'page-link disabled'">>
        </a>
      </li>
      <li class="page-item">
        <a th:if="${currentPage.number + 1 < currentPage.totalPages}"
           class="page-link"
           th:href="@{/teachers/filter/(page=${currentPage.totalPages},  subjectName=${subjectName})}">>>
        </a>
        <a th:if="${currentPage.number + 1 >= currentPage.totalPages}"
           th:class="'page-link disabled'">>>
        </a>
      </li>
    </ul>
  </nav>

<!--  Navigation for search-->
  <nav aria-label="..." th:if="${currentPage.totalPages > 0 && type == 'search'}">
    <ul class="pagination justify-content-center">
      <!--page item fist and previous -->
      <li class="page-item">
        <a th:if="${currentPage.number > 0}"
           class="page-link"
           th:href="@{/teachers/search/(page=1,search=${search})}"><<
        </a>
      </li>
      <li class="page-item">
        <a th:if="${currentPage.number <= 0}"
           th:class="'page-link disabled'"><<
        </a>
      </li>
      <li class="page-item">
        <a th:if="${currentPage.number > 0}"
           th:class="'page-link'"
           th:href="@{/teachers/search/(page=${currentPage.number}, search=${search})}"><
        </a>
        <a th:if="${currentPage.number <= 0}"
           th:class="'page-link disabled'"><
        </a>
      </li>

      <!--page item number page -->
      <li class="page-item" th:if="${currentPage.totalPages > 0}"
          th:each="pageNumber : ${pageNumbers}">
        <a th:if="${pageNumber <= currentPage.number - 2}"
           th:class="'page-link disabled'"
           th:text="'...'">
        </a>
        <a th:if="${pageNumber >= currentPage.number + 4}"
           th:class="'page-link disabled'"
           th:text="'...'">
        </a>
        <a th:if="${pageNumber > currentPage.number - 2
        && pageNumber < currentPage.number + 4}"
           th:href="@{/teachers/search/(page=${pageNumber}, search=${search})}"
           th:class="${pageNumber==currentPage.number + 1 ? 'active page-link' : 'page-link'}"
           th:text="${pageNumber}">
        </a>
      </li>

      <!--page item next and last -->
      <li class="page-item">
        <a th:if="${currentPage.number + 1 < currentPage.totalPages}"
           th:class="'page-link'"
           th:href="@{/teachers/search/(page=${currentPage.number+2}, search=${search})}">>
        </a>
        <a th:if="${currentPage.number + 1 >= currentPage.totalPages}"
           th:class="'page-link disabled'">>
        </a>
      </li>
      <li class="page-item">
        <a th:if="${currentPage.number + 1 < currentPage.totalPages}"
           class="page-link"
           th:href="@{/teachers/search/(page=${currentPage.totalPages}, search=${search})}">>>
        </a>
        <a th:if="${currentPage.number + 1 >= currentPage.totalPages}"
           th:class="'page-link disabled'">>>
        </a>
      </li>
    </ul>
  </nav>
</div>
</body>
</html>