<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{fragments/layout}"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Danh sách học sinh</title>
  <script src="/js/jquery/lib/jquery.js"></script>
  <script src="/js/alert.js"></script>
</head>
<body>
<!--Breadcrumb-->
<div class="pupils-content-wrapper p-4" th:fragment="content">
  <div th:if="${success}" role="alert" th:text="${success}" class="alert alert-success alert-message"/>
  <div th:if="${failed}" role="alert" th:text="${failed}" class="alert alert-danger alert-message"/>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="/">Trang chủ</a>
      </li>
      <li class="breadcrumb-item active"
          aria-current="page">Danh sách học sinh
      </li>
    </ol>
  </nav>

<!--Header of pupils page-->
  <div class="row header-pupils d-flex flex-row align-items-center mb-3 mt-5">
    <div class="col-12 position-relative">
      <form th:action="@{/pupils/search}" method="get"
            class="form-search d-flex flex-row align-items-center w-100">
        <i class="fa fa-search position-absolute search-icon"></i>
        <label for="form-search"></label>
        <input type="text" class="form-control form-input rounded w-100"
                 id="form-search" name="search" placeholder="Nhập tên học sinh,...">
        <button type="submit" class="btn btn-primary search-button">Tìm kiếm</button>
      </form>
    </div>
  </div>

<!--Filter-->
  <div class="row filter-pupil mt-4 mb-3">
    <div class="select-group col-12 d-flex flex-row">
      <form th:action="@{/pupils/filter}" class="row w-100" method="get">

        <!--Filter Khối học sinh thuộc-->
        <select class="form-select ms-3 gradeSelect" aria-label="Default" name="gradeName">
          <option selected>Khối</option>
          <option th:each="grade : ${gradeList}"
                  th:value="${grade.title}"
                  th:text="${grade.title}"
                  th:selected="${gradeName == grade.title}">
          </option>
        </select>
        <!--Filter lớp học sinh thuộc-->
        <select class="form-select ms-3 classSelect" aria-label="Default" name="className">
          <option selected>Lớp</option>
          <option th:each="class : ${classList}"
                  th:value="${class.name}"
                  th:text="${class.name}"
                  th:selected="${class.name == className}">
          </option>
        </select>
        <div class="col-md-1 ms-3 filter-button">
          <button type="submit" class="btn btn-primary">Lọc</button>
        </div>
      </form>
    </div>
  </div>

<!--Addition button-->
  <div class="addition-button-wrapper d-flex flex-row justify-content-end">
    <a th:href="@{/pupils/create/}" class="btn btn-primary addition-pupil-button"
       sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_MANAGER')">Thêm học sinh</a>
  </div>

<!--Table-->
  <h3 th:if="${currentPage.totalPages <= 0}">Không có học sinh nào!</h3>
  <table class="table table-striped table-hover" id="pupils-table" th:if="${currentPage.totalPages > 0}">
    <thead>
      <tr>
        <th class="text-center">#</th>
        <th>Họ tên</th>
        <th>Lớp</th>
        <th sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_MANAGER', 'ROLE_TEACHER')">Số điện thoại phụ huynh</th>
        <th sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_MANAGER', 'ROLE_TEACHER')">Email phụ huynh</th>
        <th sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_MANAGER', 'ROLE_TEACHER')">Địa chỉ</th>
        <th sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_MANAGER')"></th>
      </tr>
    </thead>
    <tbody>
      <tr th:each="pupil : ${currentPage}" class="row-value">
        <td th:text="${pupil.id}" class="id-td"></td>
        <td th:text="${pupil.lastName} + ' ' + ${pupil.firstName}"></td>
        <td th:text="${pupil.classroom.name}"></td>
        <td th:text="${pupil.phone}" sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_MANAGER', 'ROLE_TEACHER')"></td>
        <td th:text="${pupil.email}" sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_MANAGER', 'ROLE_TEACHER')"></td>
        <td class="address-td" th:text="${pupil.address}"
            sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_MANAGER', 'ROLE_TEACHER')"></td>
        <td class="button-control" sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_MANAGER')">
          <form th:action="@{/pupils/delete}" method="post">
          <input type="hidden" name="id" th:value="${pupil.id}" />
          <button type="submit" class="btn btn-danger"
                  onclick="return confirm('Bạn có chắc muốn xóa học sinh này?')">Xóa</button>
          </form>
        </td>
      </tr>
    </tbody>
  </table>

<!--pagination nav for list page-->
  <nav aria-label="..." th:if="${currentPage.totalPages > 0 && type == 'list'}">
    <ul class="pagination justify-content-center">

      <!--page item fist and previous -->
      <li class="page-item">
        <a th:if="${currentPage.number > 0}"
           class="page-link"
           th:href="@{/pupils/(page=1)}"><<
        </a>
      </li>
      <li class="page-item">
        <a th:if="${currentPage.number <= 0}"
           th:class="'page-link disabled'"><<
        </a>
      </li>
      <li class="page-item">
        <a th:if="${currentPage.number > 0}"
           th:class="'page-link'"
           th:href="@{/pupils/(page=${currentPage.number})}"><
        </a>
        <a th:if="${currentPage.number <= 0}"
           th:class="'page-link disabled'"><
        </a>
      </li>

      <!--page item number page -->
      <li class="page-item" th:if="${currentPage.totalPages > 0
       && pageNumber >= currentPage.number - 2 && pageNumber <= currentPage.number + 4}"
          th:each="pageNumber : ${pageNumbers}">
        <a th:if="${pageNumber <= currentPage.number - 2}"
           th:class="'page-link disabled'"
           th:text="'...'">
        </a>
        <a th:if="${pageNumber >= currentPage.number + 4}"
           th:class="'page-link disabled'"
           th:text="'...'">
        </a>
        <a th:if="${pageNumber > currentPage.number - 2
        && pageNumber < currentPage.number + 4}"
           th:href="@{/pupils/(page=${pageNumber})}"
           th:class="${pageNumber==currentPage.number + 1 ? 'active page-link' : 'page-link'}"
           th:text="${pageNumber}">
        </a>
      </li>

      <!--page item next and last -->
      <li class="page-item">
        <a th:if="${currentPage.number + 1 < currentPage.totalPages}"
           th:class="'page-link'"
           th:href="@{/pupils/(page=${currentPage.number+2})}">>
        </a>
        <a th:if="${currentPage.number + 1 >= currentPage.totalPages}"
           th:class="'page-link disabled'">>
        </a>
      </li>
      <li class="page-item">
        <a th:if="${currentPage.number + 1 < currentPage.totalPages}"
           class="page-link"
           th:href="@{/pupils/(page=${currentPage.totalPages})}">>>
        </a>
        <a th:if="${currentPage.number + 1 >= currentPage.totalPages}"
           th:class="'page-link disabled'">>>
        </a>
      </li>
    </ul>
  </nav>

<!--  Navigation for filter page-->
  <nav aria-label="..." th:if="${currentPage.totalPages > 0 && type == 'filter'}">
    <ul class="pagination justify-content-center">
      <!--page item fist and previous -->
      <li class="page-item">
        <a th:if="${currentPage.number > 0}"
           class="page-link"
           th:href="@{/pupils/filter/(page=1)}"><<
        </a>
      </li>
      <li class="page-item">
        <a th:if="${currentPage.number <= 0}"
           th:class="'page-link disabled'"><<
        </a>
      </li>
      <li class="page-item">
        <a th:if="${currentPage.number > 0}"
           th:class="'page-link'"
           th:href="@{/pupils/filter/(page=${currentPage.number})}"><
        </a>
        <a th:if="${currentPage.number <= 0}"
           th:class="'page-link disabled'"><
        </a>
      </li>

      <!--page item number page -->
      <li class="page-item" th:if="${currentPage.totalPages > 0
       && pageNumber >= currentPage.number - 2 && pageNumber <= currentPage.number + 4}"
          th:each="pageNumber : ${pageNumbers}">
        <a th:if="${pageNumber <= currentPage.number - 2}"
           th:class="'page-link disabled'"
           th:text="'...'">
        </a>
        <a th:if="${pageNumber >= currentPage.number + 4}"
           th:class="'page-link disabled'"
           th:text="'...'">
        </a>
        <a th:if="${pageNumber > currentPage.number - 2
        && pageNumber < currentPage.number + 4}"
           th:href="@{/pupils/filter/(page=${pageNumber},
            gradeName=${gradeName}, className=${className})}"
           th:class="${pageNumber==currentPage.number + 1 ? 'active page-link' : 'page-link'}"
           th:text="${pageNumber}">
        </a>
      </li>

      <!--page item next and last -->
      <li class="page-item">
        <a th:if="${currentPage.number + 1 < currentPage.totalPages}"
           th:class="'page-link'"
           th:href="@{/pupils/filter/(page=${currentPage.number+2},
            gradeName=${gradeName}, className=${className})}">>
        </a>
        <a th:if="${currentPage.number + 1 >= currentPage.totalPages}"
           th:class="'page-link disabled'">>
        </a>
      </li>
      <li class="page-item">
        <a th:if="${currentPage.number + 1 < currentPage.totalPages}"
           class="page-link"
           th:href="@{/pupils/filter/(page=${currentPage.totalPages},
            gradeName=${gradeName}, className=${className})}">>>
        </a>
        <a th:if="${currentPage.number + 1 >= currentPage.totalPages}"
           th:class="'page-link disabled'">>>
        </a>
      </li>
    </ul>
  </nav>

<!--  Navigation for search-->
  <nav aria-label="..." th:if="${currentPage.totalPages > 0 && type == 'search'}">
    <ul class="pagination justify-content-center">
      <!--page item fist and previous -->
      <li class="page-item">
        <a th:if="${currentPage.number > 0}"
           class="page-link"
           th:href="@{/pupils/search/(page=1,search=${search})}"><<
        </a>
      </li>
      <li class="page-item">
        <a th:if="${currentPage.number <= 0}"
           th:class="'page-link disabled'"><<
        </a>
      </li>
      <li class="page-item">
        <a th:if="${currentPage.number > 0}"
           th:class="'page-link'"
           th:href="@{/pupils/search/(page=${currentPage.number}, search=${search})}"><
        </a>
        <a th:if="${currentPage.number <= 0}"
           th:class="'page-link disabled'"><
        </a>
      </li>

      <!--page item number page -->
      <li class="page-item" th:if="${currentPage.totalPages > 0
       && pageNumber >= currentPage.number - 2 && pageNumber <= currentPage.number + 4}"
          th:each="pageNumber : ${pageNumbers}">
        <a th:if="${pageNumber <= currentPage.number - 2}"
           th:class="'page-link disabled'"
           th:text="'...'">
        </a>
        <a th:if="${pageNumber >= currentPage.number + 4}"
           th:class="'page-link disabled'"
           th:text="'...'">
        </a>
        <a th:if="${pageNumber > currentPage.number - 2
        && pageNumber < currentPage.number + 4}"
           th:href="@{/pupils/search/(page=${pageNumber}, search=${search})}"
           th:class="${pageNumber==currentPage.number + 1 ? 'active page-link' : 'page-link'}"
           th:text="${pageNumber}">
        </a>
      </li>

      <!--page item next and last -->
      <li class="page-item">
        <a th:if="${currentPage.number + 1 < currentPage.totalPages}"
           th:class="'page-link'"
           th:href="@{/pupils/search/(page=${currentPage.number+2}, search=${search})}">>
        </a>
        <a th:if="${currentPage.number + 1 >= currentPage.totalPages}"
           th:class="'page-link disabled'">>
        </a>
      </li>
      <li class="page-item">
        <a th:if="${currentPage.number + 1 < currentPage.totalPages}"
           class="page-link"
           th:href="@{/pupils/search/(page=${currentPage.totalPages}, search=${search})}">>>
        </a>
        <a th:if="${currentPage.number + 1 >= currentPage.totalPages}"
           th:class="'page-link disabled'">>>
        </a>
      </li>
    </ul>
  </nav>
</div>
</body>
</html>